.pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.pagination-button {
    background-color: #F65151;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0 10px;
    transition: 0.4s;
    cursor: pointer;
}

.pagination-button:hover {
    background-color: #2E2828;
}